<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Web404</display-name>
  <resource-ref>
    <description>mysql database</description>
    <res-ref-name>jdbc/mysqlds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>productAction</display-name>
    <servlet-name>productAction</servlet-name>
    <servlet-class>com.servlet.ProductAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productAction</servlet-name>
    <url-pattern>/admin/productAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paction</display-name>
    <servlet-name>Paction</servlet-name>
    <servlet-class>com.servlet.PopAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paction</servlet-name>
    <url-pattern>/admin/Paction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>PackageUsageServlet</servlet-name>
    <servlet-class>com.servlet.PackageUsageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackageUsageServlet</servlet-name>
    <url-pattern>/packageQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneralServlet</display-name>
    <servlet-name>GeneralServlet</servlet-name>
    <servlet-class>com.servlet.GeneralServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneralServlet</servlet-name>
    <url-pattern>/general</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Gs</description>
    <display-name>GsCookie</display-name>
    <servlet-name>GsCookie</servlet-name>
    <servlet-class>com.servlet.GsCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GsCookie</servlet-name>
    <url-pattern>/GsCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Gc</description>
    <display-name>GCookie</display-name>
    <servlet-name>GCookie</servlet-name>
    <servlet-class>com.servlet.GCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GCookie</servlet-name>
    <url-pattern>/admin/Gc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoAction</display-name>
    <servlet-name>PoAction</servlet-name>
    <servlet-class>com.servlet.PoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoAction</servlet-name>
    <url-pattern>/Po</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoAction</display-name>
    <servlet-name>CoAction</servlet-name>
    <servlet-class>com.servlet.CoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoAction</servlet-name>
    <url-pattern>/Co</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>BoAction</display-name>
    <servlet-name>BoAction</servlet-name>
    <servlet-class>com.servlet.BoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoAction</servlet-name>
    <url-pattern>/Bo</url-pattern>
  </servlet-mapping>
</web-app>